*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

html{
    scroll-behavior: smooth;
}

body{

    
    
}

#intro{
  
    display:flex;
    flex-direction: column;
    justify-content: center;
     background:linear-gradient(rgb(212, 159, 61),rgb(80, 80, 176));
 height:105vh;
    margin-top:-6vh;
}

.headings{
    text-transform: uppercase;
    text-decoration-line:underline;
}



#get-started-btn-container{
height:1vh;

display: flex;
flex-direction: row;
gap:4vh;
margin-top:2vh;
}

.get-started-btn{
  height:9.5vh;;
    width:11vw;
    border-radius: 1vw;
  margin-bottom:2vw;
 
    border:0.3vw solid black;
    font-size:1.3vw;
    font-weight:bold;
    color:black;
    
    cursor:pointer;
   background:linear-gradient(rgb(149, 83, 149), rgb(187, 116, 65));

}

.get-started-btn:hover{
    background-color: green;
}

#get-started-btn-1{
margin-bottom:4vh;

}

#get-started-btn-2{
   margin-top:2vh;
   margin-bottom:6vh;
   
}

#intro{
  
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    background:linear-gradient();
}





.grid-container{
    height:200vh;

    display: grid;
    grid-template-areas:
    "testimonials testimonials"
    "features how-it-works"
    "  "; 
}









.lofi-girl-img{
    height:44vh;
    width:40vw;
    border:0.5vw solid black;
    border-radius:1vw;
   margin-bottom:5vh;
}

.left-arrow-icon{
    height:3vh;
    width:3vw;
}

#header-1{
   

    font-size:4vw;
    margin-bottom:6vh;
    text-transform:none;

}
#subheader-1{
    font-size:2vw;
    margin-bottom:7vh;
}

/* Ad Section*/

#ad-section{
   
}

/*Section 2*/

#section-2{
background:linear-gradient(rgb(212, 159, 61),rgb(91, 91, 178),rgb(212, 159, 61));
}

#features{
     border-top:1vh solid black;
    border-bottom:1vh solid black;
    grid-area:features;
    background:linear-gradient(rgb(91, 91, 178),rgb(212, 159, 61));
}

/*Features Section */

#features-section{
    
       display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
   
    
    
}

#features-header{
    font-size:4vw;
    margin-top:5vh;
    text-align: center;
   
}

#features-list{
    list-style-type:disc; 
    text-align: center;
    justify-content: center;
    margin-bottom:6vh;
}

.feature-items{
    font-size:2vw;
    margin-bottom:2vh;
}



/*End of Features Section*/



/*How It Works Section */
#how-it-works{
    margin-bottom:10rem;
    border-top:0;
    grid-area:how-it-works;
    
    text-align: center;
    align-items: center;

}

#how-it-works-header{
   font-size:4vw;
   margin-bottom:4vw;
   margin-top:2vw;
}

#how-it-works-container{
    display:flex;
    justify-content: center;
}
.circle{
    border-radius: 50%;
    height:33vh;
    width:45vw;
    font-size:1.5vw;
    
    font-weight:500;
    background:linear-gradient(rgb(149, 83, 149), rgb(187, 116, 65));
    justify-content: center;
    display: flex;
    text-align:center;
    align-items: center;
    border:0.5vw solid black;
    
    
}

.arrow {

font-size:12vw;

    align-items:center;
}



/*End of How It Works Section*/



/*Testimonial Section*/

#testimonials{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area:testimonials;
  
    width:100%;
    border:10px;
    margin:auto;
    border-top:1vh solid black;
    background:linear-gradient(rgb(101, 101, 180),rgb(226, 179, 90));
 
    
    
}

#testimonials-header{
    font-size:4vw;
    margin-top:8vh;
    margin-bottom:4vh;
text-decoration-line: underline;
text-transform: uppercase;
}

.testimonial-ad{
   
 
   justify-content: center;
   align-items: center;
    display:flex;
    border:0.5vw solid black;
   width:85vw; 
    margin:auto;
    height:65vh;
    margin-bottom:2vh;
    text-align:center;

  
}

#testimonial-ad-3{
    margin-bottom:4vh;
}
.testimonial-img{
    height:43vh;
    width:21vw;
    border:0.5vw solid black;
    border-radius:50%;
    float:left;
   margin-right:1vh;
    margin-left:3vh;

    
}

#testimonial-img-2{
width:23vw;
}

#testimonial-img-3{
width:23vw;
}




.testimonial-text-container{
float:right;
margin-top:10rem;


}



.testimonial-ad-header{
    font-size:3vw;
    font-family: 'Courier New', Courier, monospace;
    margin-top:3vh;
   
    margin-bottom:2.3vh;
}
.testimonial-text{
    font-size:1.3vw;
  width:55vw;
  margin-left:8vh;
 
    color:black;
    font-family: 'Courier New', Courier, monospace;
    
}




/*End of Testimonial Section*/

/*End of Section 3*/

/* Ad Section*/



/*Footer Section */

/*Footer Section*/
.footer{
    background-color: rgb(83, 46, 78);
    grid-area:footer;
    height:9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:0.2vw solid black;
    font-size:1vw;
}

.footer-text{
    font-size:1.1vw;
}

.contact-badge{
    

}



/*End of Footer Section */
