*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #1a2032;
    
}

.navbar,.sidebar,.main-content,.footer{
    display: flex;
    justify-content: center;
    
    
    border:0.2vw solid black;
}
.sidebar,.footer{
    align-items: center;
    text-align: center;
}

.container{
    
    display: grid;
    grid-template-columns: 17vw 83vw;
    grid-template-rows:12vh 90vh 9vh;
    grid-auto-rows:30vh;
    grid-template-areas:
    "navbar navbar"
    "sidebar main-content"
    "footer footer"
    ;
}
/*Navbar Section*/

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin:auto;
    list-style-type:none;
    background-color: rgb(157, 115, 150);
    grid-area:navbar;
    height:15vh;
    width:100vw;
    
}

/*Nav (Left Side)*/

.logo-container{
    display: flex;
    flex-direction: row;
    gap:1vh;
}

.logo{
    
    margin-left:1.3vh;
    margin-bottom: 1.5vh;
}
.logo-text{
    font-size:2.3vw;
    font-weight:bold;
    
    margin-top:1.2vh;
}



/*Nav (Right Side)*/

.logo-2-container{
    display: flex;
    flex-direction: row;
    gap:2vw;
    width:20vw;
   float:right;

}


.nav-img{
    height:9vh;
    width:4vw;
}

.vibe-hq-btn{

    width:10vw;
    height:8vh;
    background-color: #666e88;
    font-weight:bold;
    color:rgb(0, 0, 0);
    border-radius:1vw;
    justify-content: center;
    font-size:1vw;
        border:.25vw solid black;
        margin-top:.5vh;
}

#profile-img{
    margin-bottom:2.2vh;
    width:4.3vw;
}

/*Navbar Section End*/



/*Body Section*/




/*Sidebar*/
.sidebar{
    background-color: rgb(203, 158, 203);
    grid-area:sidebar;
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
}

.sidebar-img{
    height:7vh;
    width:5vw;
    
    align-items:center;
    text-align:center;
    
}

.dashboard-img{
    height: 5.3vh;
    width:5vw;
}

.calendar-img{
    height:6vh;
    width:6vw;
    margin-left:-.8vw;
}
.tasks-img{
    margin-left:-1vw;
}
.rooms-img{
    height:6vh;
    width:6vw;
}

.settings-img{
    
    height:6.5vh;
    width:6.5vw;
    float:left;
    margin-right:2vw;
}
.sidebar-link{
    display: flex;
    flex-direction: row;
    
    text-decoration-line: none;
    color:black;
    font-size:2.2vw;
    font-weight:bold;
    background-color: rgb(98, 156, 137);
    padding:0.4vw;
    border-radius:.6vw;
    border:0.2vw solid black;
    justify-content: center;
    align-items: center;
    height:10vh;
    width:15vw;
    
    
    
}



#library-icon{
    margin-left:-.2vw;
}

.dashboard-link{
    gap:.5vw;
}

.calendar-link{
    gap:.4vw;
}
.tasks-link{
    font-size:2vw;
    display: flex;
    justify-content: space-around;;
}

#library-link{
    font-size:1.9vw;
    display: flex;
    justify-content: space-evenly;
    gap:0.4vw;
    white-space: nowrap;
}


.dashboard-text{
     margin-left:0.1vw;
}
.tasks-text{
    margin-left:-1vw;
}

#library-text{
    margin-right:1vw;
}

.rooms-link{
    font-size:1.8vw;
    white-space:nowrap;
    
}

#settings-link{
    font-size:2vw;
    white-space:nowrap;
    display: flex;
    justify-content:left;
    gap:1.3vw;
    
}

#settings-text{
    display: flex;
    float:left;
    justify-content: center;
    margin-right:1.2vw;
}


/*Sidebar Ends*/

/*Main Content Section*/

.main-content{
    background-color: #000000;
    grid-area:main-content;
    display: flex;
    flex-direction: column;
  
    align-items:center; /*horizontally centering*/

}

.main-content-header{

 
    font-size:3vw;
  
    text-align: center;
    text-decoration-line: underline;
    color:white;
    
}

.main-content-subheader{
      color:white;
}

.calendar{
    margin-top:-2vh;
    border:2vw solid pink;
    border-radius:1vw;
    height:70%;
    display:flex;
    justify-content:flex-start;
}

/*Main Content Section Ends*/

/*Footer Section*/
.footer{
    background-color: rgb(83, 46, 78);
    grid-area:footer;
    
}

.footer-text{
    font-size:1.09vw;
}

.contact-badge{
    
    
}

